.RecordFirst {
  margin-top: 32px;
  margin-bottom: 32px;
  &-pills {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width:991px) {
      gap: 0;
        li {
        transform: scale(0.5);
      }
    }
  }
  &-card {
    margin-top: 24px;
    margin-bottom: 28px;
  }
}
