@import '../../assets/styles/_main.scss';
.Button {
    margin: 0 auto;
    width: auto;
    max-width: 296px;
    button {
        background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
        border-width: 0;
        font-family: 'Hiragino Kaku Gothic Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: $white;
        width: 100%;
        padding: 16px 0;
        height: auto;
        border-radius: 5px;
        &:hover, &:active, &:focus {
            background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
            color: $white;
            opacity: 0.8;
        }
    }
}