.CardDiary {
    padding: 16px 27px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    border: 2px solid #707070;
    &-times {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.09px;
        color: #414141;
    }
    &-wrapper {
        font-family: 'Hiragino Kaku Gothic Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.06px;
        color: #414141;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5; /* number of lines to show */
                    line-clamp: 5; 
            -webkit-box-orient: vertical;
        }
    }
}