@import '../../assets/styles/global';

.CharacterCard {
  padding: 1.6rem;
  border-radius: 1.6rem;
  border: 1px solid $white;
  transition: $common-transition;

  &:hover {
    border-color: $spring-green;
    cursor: pointer;
  }

  &-id {
    font-size: 1.4rem;
    color: $white;
  }

  &-image {
    position: relative;
    max-width: 12rem;
    width: 100%;
    margin: 0 auto 3rem;

    img {
      width: 100%;
    }
  }

  &-type {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: .8rem 1.6rem .6rem;
    font-size: 1.5rem;
    border: 1px solid $white;
    text-align: center;
    border-radius: 3rem;
    z-index: 2;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    line-height: 1;

    &.rare {
      background: #9C41F4;
    }

    &.legendary {
      background: linear-gradient(269.09deg, #104AFB 0.78%, #00FFD1 99.53%);
    }

    &.uncommon {
      background: #70D260;
    }

    &.epic {
      background: #FF9900;
    }
  }

  &-info {
    &-item {
      flex: 0 0 50%;
      max-width: 50%;
      font-size: 1.4rem;
      color: $white;
      line-height: 1;

      .Icon {
        flex: 0 0 3.2rem;
        max-width: 3.2rem;
        height: 3.2rem;
        padding: 0.8rem;
      }
    }
  }

  &-coin {
    padding-top: 1.6rem;
    margin-top: 1.6rem;
    border-top: 1px solid $white;
    font-size: 2.4rem;
    font-weight: 700;
    color: $white;
    font-weight: bold;

    .Icon {
      flex: 0 0 2.4rem;
      max-width: 2.4rem;
      height: 2.4rem;
      margin-top: -0.3rem;
      margin-right: .8rem;
    }
  }

  &-lastest-coin {
    font-size: 1.4rem;
    color: $gray;

    .Icon {
      flex: 0 0 1.6rem;
      max-width: 1.6rem;
      height: 1.6rem;
      margin-left: .8rem;
      margin-top: -0.3rem;
    }
  }
}