/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #414141;
$primary: #FF963C;

$regent-gray: #7F8F9B;
$blue-ribbon: #1964FF;
$tundora: #4C4C4C;
$my-sin: #FFB119;
$cod-gray: #1E1E1E;
$dove-gray: #6A6A6A;
$aqua-haze: #F2F6F8;
$persian-green: #00AF89;
$aquamarine: #69FFFA;
$stratos: #070053;
$alto: #D9D9D9;
$emperor: #545454;
$mystic: #E6EBF0;
$red-orange: #FF2E2E;
$wild-sand: #F5F5F5;
$electric-violet: #6A36FF;
$athens-gray: #F2F3F6;
$porcelain: #EBEFF1;
$cutty-sark: #597377;
$tundora: #777777;
$bottle-green: #072325;
$zircon: #F4F7FF;
$yellow: #FFCC21;
$orange: #FF963C;